AssessmentSystem/obj/
AssessmentSystem/bin/
AssessmentSystem/logs
AssessmentSystem.Core/obj/
AssessmentSystem.Core/bin/
AssessmentSystem.Examples/obj/
AssessmentSystem.Examples/bin/
AssessmentSystem.Factory/obj/
AssessmentSystem.Factory/bin/
AssessmentSystem.Plugin/obj/
AssessmentSystem.Plugin/bin/
AssessmentSystem.Runner/obj/
AssessmentSystem.Runner/bin/
AssessmentSystem.ExerciseVerification/bin/
AssessmentSystem.ExerciseVerification/obj/
AssessmentSystem/App_Data/
AssessmentSystem.Data.Access/obj
AssessmentSystem.Data.Access/bin
AssessmentSystem.Models/obj
AssessmentSystem.Models/bin
AssessmentSystem.Services.Api/obj
AssessmentSystem.Services.Api/bin
AssessmentSystem.Services/obj
AssessmentSystem.Services/bin
AssessmentSystem.Services.Tests/obj
AssessmentSystem.Services.Tests/bin
AssessmentSystem.Web.Tests/obj
AssessmentSystem.Web.Tests/bin
AssessmentSystemApiTests/node_modules
*.Cache
packages/
*.user
*.testsettings
_ReSharper.Caches/
.vs/